body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
  background-image: url(images/background.png);
}

button {
  background-color: cadetblue;
  border-radius: 8%;
  cursor: pointer;
}

/* Set up the basic styles for the header */
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px 20px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Add the logo on the top left corner */
header .logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
}

/* Add the three transparent buttons */
header .nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

header .nav button {
  background-color: transparent;
  color: #000;
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  font-size: 16px;
}

/* Add the Sign up and Sign in buttons on the top right corner */
header .cta-buttons {
  display: flex;
}

header .cta-buttons button {

  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 16px;
}

main {
  margin-left: 30px;
}

main .titles {
  margin-top: 10%;
}

main h1 {
  font-size: 40px;
  font-weight: 500;
}

main .big {
  margin-bottom: 20px;
}

main .main-buttons button {
  margin-top: 50px;
  color: black;
  background-color: #fff;
  border: cadetblue 1px solid;
  padding: 10px 15px;
  font-size: 16px;
}
 main .main-buttons .blue {
  background-color: cadetblue;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(156, 169, 190);
  opacity: 0.7;
}