/* Estilo de los botones */
button {
  background-color: #8bc8c8;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
}

/* Estilo de los botones al pasar el cursor */
button:hover {
  background-color: #6aa7a7;
}

/* estilo específico para el botón para enviar un mensaje */
.send_message {
  float: right;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;

}

/* Estilo del fondo de la página */
body {
  background-color: #f2f2f2;
}

/* Estilo del encabezado de la página */
header {
  background-color: #8bc8c8;
  color: white;
  padding: 20px;
}

/* Estilo de los títulos */
h1,
h2 {
  color: #333;
}

/* Estilo de los párrafos */
p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

/* Estilo del contenedor principal */
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 800px;
  padding: 30px;
}

/* Establecer estilos del footer */
footer {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  background-color: #8bc8c8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones-principales {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn {
  border: none;
  padding: 12px 24px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.btn-azul {
  background-color: #0077b6;
}

.btn-celeste {
  background-color: #87CEEB;
}

.send_message {
  float: right;
  color: #333;
}