body {
  background-image: url("../images/background.png");
  background-color: #fff; /* Color de fondo */
  min-height: 100%;
}

.navbar-nav {
  margin-left: 15%; /* Mover la lista a la derecha */
}

.btn {
  border: 1px solid #343a40; /* Borde gris oscuro */
  border-radius: 40px; /* Bordes redondeados */
}

.btn-primary {
  background-color: #87CEFA;
  border-color: #87CEFA;
  font-size: 20px;
}

.btn-primary:hover {
  background-color: #6495ED;
  border-color: #6495ED;
}

.btn-secondary {
  background-color: #F5F5F5;
  border-color: #F5F5F5;
  color: #212529;
}

.btn-secondary:hover {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
  color: #212529;
}

footer {
  /*Color de fondo gris claro y transparencia */
  background: rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-content {
  min-height: calc(100vh - 100px); /* Calcula la altura mínima */
  display: flex;
  flex-direction: column;
}

.main-body {
  flex: 1;
}

.forgot-password {
  margin-right: 10px;
}

/* Lavar mi ropa*/
.total-price {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid black;
  padding: 10px 10px;
  border-radius: 10px;
}

.form-group label {
  font-weight: bold;
}